.register-original-state{
    opacity: 0;
    transform-origin: center;
    transform: translateY(-50%);
}

.register-animate-appear-top{
    opacity: 0;
    animation: slideDown 0.7s ease-in 0s 1 forwards;
}

@keyframes slideDown {
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

.register-animate-disappear-down{
    opacity: 1;
    animation: slideDownVanish 0.7s ease-out 0s 1 forwards;
}

.state-2{
    transform: translateY(-50%);
}

@keyframes slideDownVanish{
    to{
        transform: translateY(50%);
        opacity: 0;
    }
}

.prompt-anime{
    transform-origin: center;
    transform: translateY(-100%);
    animation: forPromptDown 4s linear 0s 1;
}

@keyframes forPromptDown {
    0%{
        transform: translateY(-100%);
    }
    5%{
        transform: translateY(0%);
    }
    95%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}