@media screen and (max-height:720px ){
    .scaleDown{
        transform-origin: 50% 50%;
        transform: scale(0.9); 
    }
}

@media (min-width:1000) and (max-width:1025){
    .show{
        display:block
    }
}